#textbox {
  height: 200px;
  width: 700px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.pagelinks{
  background-color: red;
  width: 250px;
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  height: 2000px;
}

.codework{
  margin-left: 400px;
  margin-top: -2000px;
  background-color: blue;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
}

.homecode{
  height: 2000px;
}

.herobarcode{
  height: 300px;
}

.navlist{
  margin-top: -100px;
}

ul{
  display: inline;
  margin-left: 240px;
}

li{
  display: inline;
  font-size: 20px;
}

#listitems {
  padding: 50px;
}






























































#b1 {

  background-color: rgb(95, 199, 86);
  cursor: pointer;
  border-radius: 10%;
  border-color: transparent;
}
#b2 {
  background-color: rgb(95, 199, 86);
  background-color: transparent;
  cursor: pointer;
  padding: 3px;    
  border-radius: 10%;
  border-color: transparent;
}
#b1l {
  cursor: pointer;
  padding: 20px;
  background-color: rgb(95, 199, 86);
  border-color: transparent;
  border-radius: 10%;
}
#b1m{
  cursor: pointer;
  padding: 10px;
  background-color: rgb(95, 199, 86);
  border-color: transparent;
  border-radius: 10%;
}
#b1s {
  cursor: pointer;
  padding: 2px;
  background-color: rgb(95, 199, 86);
  border-color: transparent;
  border-radius: 10%;
}
#b2 {
  cursor: pointer;
  outline: rgb(45, 94, 53);
  background-color: transparent;
  padding: 3px;
  border-radius: 10%;
}
#b2s {
  cursor: pointer;
  outline: rgb(45, 94, 53);
  background-color: transparent;
  padding: 3px;
  border-radius: 10%;
}
#b2m {
  cursor: pointer;
  outline: rgb(45, 94, 53);
  background-color: transparent;
  padding: 10px;
  border-radius: 10%;
}
#b2l {
  cursor: pointer;
  outline: rgb(45, 94, 53);
  background-color: transparent;
  padding: 20px;
  border-radius: 10%;

}
#b3{
  cursor:not-allowed;
  padding: 3px;
  background-color: rgb(52, 59, 54);
  border-radius: 10%;
  border-color: transparent;

}
#b3s{
  cursor:not-allowed;
  padding: 3x;
  background-color: rgb(52, 59, 54);
  border-radius: 10%;
  border-color: transparent;
}
#b3m{
  cursor:not-allowed;
  padding: 10px;
  background-color: rgb(52, 59, 54);
  border-radius: 10%;
  border-color: transparent;
}
#b3l{
  cursor:not-allowed;
  padding: 20px;
  background-color: rgb(52, 59, 54);
  border-radius: 10%;
  border-color: transparent;
}

@media only screen and (max-width: 600px) {
  #b1 {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px;
    max-width: 100%;
  }

  #b2 {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b1l {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b1m {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b1s{
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b2 {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b2s{
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b2m {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b2l {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b3 {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b3s {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b3m {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
  #b3l {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px; 
    max-width: 100%;
  }
}




#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: #fff;
  border-radius: 5px;
  max-width: 480px;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
}

.title{
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
font-size: 40px;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}


.email {
  background-color: #ebebeb;
  height: 20px;
}



.message {
  background-color: #ebebeb;
  height: 160px;

}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
}

.submit {
  width: 200px;
  color: white;
  background-color:rgb(95, 199, 86);
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .form {
    background: #fff;
    border-radius: 5px;
    max-width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
  }
  .title {
    width: 200px;
  }
  .name {
    background-color: aqua;
    max-width: 100px;
    
    }
  .message {
   background-color: aqua;
   max-width: 100px;
  }
  .email {
    background-color: aqua;
    max-width: 100px;
  }
}




.hero {
background-color: lightgray;
color: white;
height: 200px;
text-align: center;
font-size: 28px;
}

.para {
text-align: left;
color: black;
background-color: black;
font-size: 22px;
font-family: 'Courier New', Courier, monospace;
}


.paget {
  background-color: white;
  color: black;
  text-align: center;
  width: 330px;
  height: 200px;
  display: block;
  font-family: sans-serif;
  font-size: 25px;
  display: block;


}

.stext {
  align-content: center;
  color: black;
  width: 330px;
  height: 40px;
  text-align: center;
  margin-top: -120px;
  background-position: center;


}


.secondaryt {
  background-color: lightgray;
  color: black;
  width: 330px;
  height: 43px;
  text-align: center;
}

.but{
  margin-bottom: 20px;
  width: fit-content;
  margin-left: 13px;
}

.wrapper {
  background-color: rgb(235, 230, 230);
  height: 100vh;
}

.blue {
  color: blue;
  background-color: #BEF;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  width: 50%;


}
.green {
  color: green;
  background-color: #DFF2BF;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  width: 50%;

}
.yellow {
  color: brown;
  background-color: #FEEFB3;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  width: 50%;

}
.red {
  color: red;
  background-color: #FFBABA;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  width: 50%;

}

@media only screen and (max-width: 600px) {
  .blue{
    width: 200px;
  }
  .green{
    width: 200px;

  }
  .yellow{
    width: 200px;

  }
  .red {
    width: 200px;

  }
}